body{
  font-family: cursive;
  font-size: 18px;
  background: #FF0000;
  color:gold;
}

.Welcome{
  color: #0000ff;
  font-size: 33px;
  
}
.top span{
  color: gold;
}
.info{
  border:3px; sloid blue;
  padding: 25px;
}
.q{colour:red;}
.img{
  width:100%;
}
